<div class="card-product-event">
  <div class="card-product-event-infos">
    <h2 class="max-lines"><%= locals[:track].name %></h2>
      <h1 class="max-lines"><%= locals[:track].artists.map {|artist| artist.name }.join(", ") %></h1>
      <em><p><%= "Added at #{locals[:track].events.first.artist} concert" %></p></em>
      <% unless locals[:likes].nil? %>
        <p><em>Liked by <%= locals[:likes]  %> user(s)</em></p>
      <% end %>
  </div>
  <% unless locals[:track].artists.empty? %>
    <% unless locals[:track].image_url.nil? %>
      <%= cl_image_tag locals[:track].image_url, crop: :fill %>
    <% else %>
      <%= image_tag "sample_1.png" %>
    <% end %>
  <% else %>
      <%= image_tag "sample_1.png" %>
  <% end %>
</div>

