<div class="card-product-event">
  <div class="card-product-event-infos">
    <h2 class="max-lines"><%= locals[:track].name %></h2>
      <h1 class="max-lines"><%= locals[:track].artists.map {|artist| artist.name }.join(", ") %></h1>
      <em><p><%= "Starred at #{locals[:track].events.first.artist}'s concert" %></p></em>

      <% unless locals[:likes].nil? %>
        <p><em>Liked by <%= locals[:likes]  %> user(s)</em></p>
      <% end %>
  </div>

    <% if locals[:track].artists.first.photo.attached? %>
    <%= cl_image_tag locals[:track].artists.first.photo.key, crop: :fill %>
    <% else %>
    <%= image_tag "sample.png" %>
    <% end %>

</div>

