<div class="card-product">
  <div class="card-product-infos">
    <h1 class="max-lines"><%= locals[:track].name %></h1>
      <h2 class="max-lines"><%= locals[:track].artists.map {|artist| artist.name }.join(", ") %></h2>
      <h3 class="max-lines"><%= "Added at #{locals[:track].events.first.artist} concert" %></h3>
  </div>
  <% unless locals[:track].artists.empty? %>
    <% unless locals[:track].image_url.nil? %>
      <%= cl_image_tag locals[:track].image_url, crop: :fill %>
    <% else %>
      <%= image_tag "sample_1.png" %>
    <% end %>
  <% else %>
      <%= image_tag "sample_1.png" %>
  <% end %>
</div>

