<div class="container" id="<%=locals[:track].id%>">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
    <div class="card-product">

      <% if locals[:track].artists.first.photo.attached? %>
      <%= cl_image_tag locals[:track].artists.first.photo.key, crop: :fill %>
      <% else %>
      <%= image_tag "plug_logo.png" %>
      <% end %>

    <div class="card-product-infos">
      <div class="play-button">
        <i class="fas fa-play" id="play-pause" data-sid="<%=locals[:track].spotify_id%>"></i>
      </div>

      <div class="star-card">
       <% unless locals[:event].nil? %>
        <% unless TracksUser.find_by(track: locals[:track], user: current_user, event: locals[:event]).nil? %>
          <%= link_to "", star_track_path(track: locals[:track], event: locals[:event]), class: "fas fa-star", :remote => true, method: :delete  %>
        <% else %>
          <%= link_to "", star_track_path(track: locals[:track], event: locals[:event]), class: "fas fa-star non-color-star", :remote => true, method: :post  %>
        <% end %>
      <% end %>
      </div>

     <div class="music">
        <div class='container'>
          <div class='bar'></div>
          <div class='bar'></div>
          <div class='bar'></div>
          <div class='bar'></div>
          <div class='bar'></div>
          <div class='bar'></div>
          <div class='bar'></div>
          <div class='bar'></div>
          <div class='bar'></div>
          <div class='bar'></div>
        </div>
      </div>


        <h2><%= locals[:track].name %></h2>
        <% locals[:track].artists.each do |artist| %>
          <h1><%= artist.name  %></h1>
        <% end %>

        <% unless locals[:likes].nil? %>
          <p><em>Liked by <%= locals[:likes]  %> user(s)</em></p>
        <% end %>

      </div>


      </div>
    </div>
  </div>
</div>
</div>
