
<div class="card-product">
  <div class="card-product-infos">
    <h2><%= event.venue %></h2>
    <h1><%= event.address %></h1>
    <p><%= event.artist %></p>
    <p><%= "#{(event.distance_to([params[:lat], params[:lon]])).round(1)}km" %></p>
  </div>
  <% if event.photo.attached? %>
    <%= cl_image_tag event.photo.key, crop: :fill %>
  <% end %>
  <%= link_to "Check In", event_path(event), class: "confirm-button" %>
</div>

