<div class="card-product-event">
  <div class="card-product-event-infos">
    <h2><%= event.venue %></h2>
    <p><em><%= "#{(event.distance_to([params[:lat], params[:lon]])).round(1)}km" %></em></p>
    <% unless event.sub_event %>
      <h1><%= event.artist %></h1>
      <p><%= event.address %></p>
      <% end %>
  </div>
  <% if event.photo.attached? %>
    <%= cl_image_tag event.photo.key, crop: :fill %>
  <% end %>
  <%= link_to "Check In", check_in_event_path(event), class: (%w(confirm-button) << (sub_event ? "confirm-button--disabled" : [])), method: "post" %>
</div>

