
<div class="cta">
  <h2>Connect with people at the event and share your music</h2>
  <p><%="You are at #{@main_event.artist} concert"%></p>
</div>



<div class="container" >
  <% if @main_event.nil? == false %>
  <div class="row">
    <div class="col-12 col-lg-6">
      <%= render "events/card", event: @main_event %>
    </div>
  </div>
</div>

<div class="cta">
  <p><%="Other events close to you"%></p>
</div>
<div class="container" >
  <div class="row">
    <div class="col-12 col-lg-6">
      <% @sub_events.each do |sub_event| %>
      <%= render "events/card", event: sub_event %>
      <% end %>
    </div>
  </div>
</div>
<% else %>
<div class="col-12 col-lg-6">
  <div class="card-product-event">
    <p>No event found</p>
    <%= image_tag("artist.png") %>
  </div>
</div>
<% end %>


