<div class="container">
  <div class="row justify-content-center">
    <h1><%= "Choose the event you are at to get plugged" %></h1>
    <div class="card-event">
      <img src= <%= "https://images.unsplash.com/photo-1555456274-58a32f9c3fad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" %>>
      <div class="card-event-title">
        <div>
          <h2><%= "Event title here" %></h2>
          <p><%= "Event description here" %></p>
        </div>
        <h2 class="card-trip-venue"><%= "Shibuya Scramble" %></h2>
        <img src= <%= "https://images.unsplash.com/photo-1516450360452-9312f5e86fc7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" %> class="card-trip-venueimg avatar-bordered";>
      </div>
    </div>
  </div>
</div>
