<div class="card-img-top card-img-top-250">


    <% if event.photo.attached? %>
    <%= cl_image_tag event.photo.key, crop: :fill, class:"img-fluid" %>
    <% end %>
</div>


 <div class="card-caroussel" class="small text-wide">
    <h1><%= event.genre %></h1>
    <h2><%= event.artist %></h2>
    <h3><%= event.venue %></h3>
    <h4><%= event.address %></h4>
    <h5><%= event.date %></h5>
    <em><p><%= "#{(event.distance_to([params[:lat], params[:lon]])).round(1)}km" %></p></em>
  </div>

