
<div class="cta">
   <h2>Recommended events nearby in coming week</h2>

</div>

<section class="carousel slide" data-ride="carousel" id="postsCarousel">
  <div class="container">
    <div class="row justify-content-center">
      <div class="container  carousel-inner">
        <% @recommended_events.each_with_index do |event, index| %>
          <div class="row row-equal carousel-item <%= index == 0 ? 'active' : '' %>">
              <div class="col-md-4">
                  <div class="card">
                      <%= render "pages/caroussel", event: event %>
                  </div>
              </div>
          </div>
        <%end %>

      </div>
    </div>
  </div>
</section>

 <script>
      (function($) {
    "use strict";

    // manual carousel controls
    $('.next').click(function(){ $('.carousel').carousel('next');return false; });
    $('.prev').click(function(){ $('.carousel').carousel('prev');return false; });

})(jQuery);
</script>



<div class="cta">
   <h2>Export your customized playlist to Spotify</h2>
   <!-- s -->
</div>
<div class="container">
<div class="row justify-content-center">
  <div class="col-12 col-lg-6">
  <%= form_for :playlist, as: :get, url: export_path, method: :get, html: { class: "new_post", id: "new_post" } do |f| %>
    <div class="form-group">
      <%= f.text_field :name, class: 'form-control', placeholder: "Enter your playlist name" %>
      <%= f.submit class: 'btn btn-gradient' %>
    </div>
    <% end %>
  </div>
</div>
</div>

<div class="container">
<% @tracks.each do |track| %>
  <%= render "shared/library", locals: { track: track } %>
<% end %>
</div>





